<h1> Course Registration Page </h1>
<br>
<h2> Courses</h2>
<br>
<ol>
    <% @registrars.each do |registrar| %>
    <li>
    <%= link_to registrar.course.name, course_path(registrar) %> -
    Seat Limit: <%= registrar.course.seat_limit %>
    </li>
    <% end %>

</ol>