<h1> Instructor Information </h1>

<h3> <%= @instructor.name %> </h3> 

<hr>
<h4> <p>  Courses </p> </h4>

<ul>
    <% @instructor.courses.each do |instructor_inst| %>
        <li> <%= instructor_inst.name %>  </li>
    <%end%>

</ul>
<<<<<<< HEAD

<%= button_to "Delete Instructor", instructor_path(@instructor), method: "delete" %>
<br>
<%= link_to "Back to Instructors", instructors_path %>
=======
>>>>>>> 7ff6d918592a7f9ed17621878e5082f9ab3c0859
